.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: 500px;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
  }
  
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
  }
  
  .empty {
    border: none;
    background-color: transparent;
  }
  