.footer {
  background-color: #004aad;
  padding: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.language-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.language-switcher button {
  background-color: #144586;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 4px;
  text-align: center;
}

.language-switcher button:hover {
  background-color: #0d3b77;
}

@media (max-width: 600px) {
  .footer {
    padding: 5px;
  }

  .footer p {
    font-size: 12px;
  }

  .language-switcher {
    flex-direction: column;
  }

  .language-switcher button {
    padding: 8px;
    margin: 5px 0;
  }
}
