.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #004aad;
    padding: 10px;
    text-align: center;
    z-index: 9999;
    width: 100%;
  }
  
  
  .footer p {
    color: #ffff;
    font-size: 14px;
  }
  