

  .text-after-animation {
    font-size: 100px;
    color: blue;
    text-align: center;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  