.add-project-form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin: 5px;
}

.add-project-form-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.add-project-form-container .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  padding-right: 5px;
}

.add-project-form-container label {
  margin-bottom: 5px;
}

.add-project-form-container input[type="text"],
.add-project-form-container input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

.add-project-form-container .column-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-project-form-container .column-input input[type="number"] {
  width: 50px;
  margin-left: 10px;
}

.add-project-form-container .column-input input {
  flex: 1;
}

.add-project-form-container .column-input button,
.add-project-form-container .add-column-button,
.add-project-form-container .add-project-button {
  padding: 12px 12px;
  background-color: #004aad;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

.add-project-form-container .column-input .remove-button {
  padding: 0;
  margin-left: 15px;
  background: none;
  border: none;
  color: #f00;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.add-project-form-container .add-column-button {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  color: #004aad;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.add-project-form-container .add-column-button::before {
  content: '+';
  margin-right: 5px;
}

.add-project-form-container .button-group {
  margin-top: 10px;
  width: 80%;
  padding: 10px;
  margin-left: 10px;
}

.title {
  font-size: 20px;
}